<p id="notice"><%= notice %></p>

<h1>Records</h1>

<table class="table-bordered table-striped " id="myTable" style="width:100%">
 
  <% @subjects.each do |subject| %>
<thead>
    <tr>
      <td><h4 style="color:red;">Subject: <%= subject.name + "("+subject.subjectcode + ")" %></h4></td>
    </tr>
    <tr>
      <th>StudentID</th>
      <th>StudentName</th>      
      <th>SubjectName</th>
       <th>Obtmarks</th>
       <th>Totmarks</th>
       <th>Action</th>
    </tr>
</thead>
    <% @students.each do |student| %>
      <%= render 'form', record: @record,student: student, subject: subject%>
    <% end %>
  <% end %>
</table>







<%#= link_to 'New Record', new_record_path %>
