<p id="notice"><%= notice %></p>


<style type="text/css">
  td{
    padding: 10px;
  }
</style>

<h1>Subjects</h1>
<table class="table-bordered table-striped " id="myTable" style="width:70%;margin-left: 15%;">
  <thead>
    <tr>
      <th>Name</th>
      <th>Subjectcode</th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.name %></td>
        <td><%= subject.subjectcode %></td>

      </tr>
    <% end %>
  </tbody>
</table>

